@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Noto+Sans+TC:wght@100..900&display=swap');

$font-karla: "Karla", sans-serif;
$gradient-1: linear-gradient(to bottom, #FFEDBE 0%, #E6B538 100%);
$gradient-2: linear-gradient(to bottom, #431800 0%, #451500 9%, #521F06 41%, #7D370B 88%, #A07642 100%);
$gradient-3: linear-gradient(to bottom, #FFE3A7 0%, #E3A405 100%);
$gradient-btn: linear-gradient(to bottom, #FAC131 0%, #C27800 100%);
$gradient-nav: linear-gradient(135deg, #FFE68C 0%, #FFB62F 38%, #E7A724 72%, #FFD56B 100%);
$transition: 0.3s;
$brown-bg: #402903;

body {
    font-family: "noto sans TC", serif;
    background: linear-gradient(to bottom, #A37427 0%, #703D0D 100%);
    min-height: 100vh;
    // height: 1000px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    transition: $transition;
    &:hover {
        color: #fff;
    }
}

input, button, select {
    background-color: transparent;
    border: 0;
    outline: none;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 35px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(0,0,0,0.63) 0%, transparent 100%);
    z-index: 100;
    &_nav {
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 500px;
            height: 70px;
            background-image: url(../img/nav-big.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            a {
                display: block;
                width: 90px;
                text-align: center;
                position: relative;
                z-index: 0;
                span {
                    display: block;
                    font-weight: 700;
                    background: $gradient-1;
                    background-clip: text;
                    color: transparent;
                    text-shadow: 0 2px 8px rgba(0,0,0,0.25);
                    transition: $transition;
                }
                &::after {
                    position: absolute;
                    content: "";
                    width: 2px;
                    height: 13px;
                    background: $gradient-1;
                    top: 50%;
                    right: 0;
                    transform: translate(-50%, -50%);
                    transition: $transition;
                }
                &.active {
                    span {
                        color: #fff;
                    }
                    .header_nav_active {
                        opacity: 1;
                    }
                    &::after {
                        opacity: 0;
                    }
                }
                &:not(.active) {
                    &:hover {
                        span {
                            opacity: 0.7;
                        }
                    }
                }
                &.noline {
                    &::after {
                        opacity: 0;
                    }
                }
            }
            li {
                &:last-child {
                    a {
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
        &_active {
            position: absolute;
            width: 98px;
            height: 36px;
            top: 50%;
            left: 50%;
            z-index: -1;
            transform: translate(-50%, -50%);
            filter: drop-shadow(0 4px 10px rgba(0,0,0,0.25));
            opacity: 0;
        }
    }
    &_member {
        width: 160px;
        height: 36px;
        background-image: url(../img/nav-small.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        right: 40px;
        transform: translateY(-50%);
        ul {
            display: flex;
            align-items: center;
            justify-content: center;
            a {
                display: block;
                width: 65px;
                text-align: center;
                position: relative;
                font-weight: 700;
                color: #fff !important;
                cursor: pointer;
                &::after {
                    position: absolute;
                    content: "";
                    width: 2px;
                    height: 13px;
                    background: $gradient-1;
                    top: 50%;
                    right: 0;
                    transform: translate(-50%, -50%);
                }
                &:not(.loginActive) {
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
            li {
                &:last-child {
                    a {
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }
        &.loginActive {
            background-image: url(../img/nav-small-active.svg);
            ul {
                a {
                    text-shadow: 0 2px 8px rgba(0,0,0,0.25);
                }
            }
        }
    }
    &_menu {
        position: relative;
        width: 27px;
        height: 20px;
        margin-left: 20px;
        z-index: 10;
        &_bar {
            width: 100%;
            height: 2px;
            position: absolute;
            background: $gradient-1;
            left: 0;
            box-shadow: 0 2px 5px rgba(0,0,0,0.25);
            transition: $transition;
            &.bar {
                &-top {
                    top: 0;
                }
                &-middle {
                    top: 50%;
                    transform: translateY(-50%);
                }
                &-bottom {
                    bottom: 0;
                }
            }
        }
        &.active {
            .header_menu_bar {
                top: 50%;
                left: 50%;
                &.bar {
                    &-top, &-middle {
                        transform: translate(-50%, -50%) rotate(45deg);
                    }
                    &-bottom {
                        transform: translate(-50%, -50%) rotate(-45deg);
                    }
                }
            }
        }
    }
    @media screen and (max-width: 991px) {
        justify-content: flex-end;
        padding: 15px 20px;
        &_nav {
            position: fixed;
            width: 100%;
            height: 100vh;
            background: $gradient-2;
            top: 0;
            right: 0;
            z-index: 5;
            display: flex;
            justify-content: center;
            transition: $transition;
            right: -100vw;
            ul {
                background-image: none;
                display: block;
                height: auto;
                width: auto;
                padding-top: 80px;
                li {
                    margin: 20px 0;
                }
                a {
                    &::after {
                        display: none;
                    }
                }
            }
            &.active {
                right: 0;
            }
        }
        &_member {
            position: static;
            transform: none;
        }
    }
}

.banner {
    position: relative;
    margin-bottom: 60px;
    &_item {
        position: relative;
        width: 100%;
        padding-bottom: 42%;
        >img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
        }
    }
    &_text {
        position: absolute;
        width: 85%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        p {
            font-size: 34px;
            color: #fff;
            font-weight: 700;
            margin: 0;
            line-height: 1.7;
            text-shadow: 0 4px 10px rgba(0,0,0,0.3);
            letter-spacing: 0.05em;
        }
        &_green {
            background: linear-gradient(to right, #41FF9A 0%, #00B97B 100%);
            background-clip: text;
            color: transparent;
        }
        &_red {
            background: linear-gradient(to right, #FF8383 0%, #FF4C4C 100%);
            background-clip: text;
            color: transparent;
        }
        &_gold {
            background: $gradient-3;
            background-clip: text;
            color: transparent;
        }
    }
    &_title {
        padding: 5px 30px 10px;
        background: $gradient-btn;
        transform: skewX(-15deg);
        width: fit-content;
        margin-bottom: 35px;
        span {
            display: block;
            font-size: 30px;
            font-weight: 700;
            color: #fff;
            text-shadow: 0 4px 4px rgba(0,0,0,0.25);
            transform: skewX(15deg);
        }
    }
    &_pagination {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        bottom: 20px;
        right: 40px;
        z-index: 3;
        position: absolute;
        .swiper-pagination-bullet {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 1px solid #fff;
            background-color: rgba(255,255,255,0.3);
            opacity: 1;
            margin-left: 8px;
            &-active {
                background-color: #fff;
            }
        }
    }
    &_gradient {
        position: absolute;
        width: 100%;
        padding-bottom: 17.78%;
        background: linear-gradient(to bottom, transparent 0%, rgba(0,0,0,0.7) 100%);
        left: 0;
        bottom: 0;
        z-index: 1;
    }
    h1 {
        position: absolute;
        bottom: 9%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 80px;
        font-weight: 700;
        color: transparent;
        background: $gradient-1;
        background-clip: text;
        text-shadow: 0 4px 15px rgba(0,0,0,0.35);
        z-index: 2;
        width: 100%;
        text-align: center;
    }
    &-inner {
        position: relative;
        width: 100%;
        padding-bottom: 29%;
        margin-bottom: 60px;
        >img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
        }
    }
    @media screen and (max-width: 991px) {
        &_item {
            padding-bottom: 80%;
        }
        &_pagination {
            right: 20px;
            .swiper-pagination-bullet {
                width: 10px;
                height: 10px;
                border-width: 1px;
                margin-left: 5px;
            }
        }
        &_gradient {
            padding-bottom: 35%;
        }
        h1 {
            font-size: 60px;
        }
        &_title {
            margin-bottom: 20px;
            span {
                font-size: 18px;
            }
        }
        &_text {
            p {
                font-size: 22px;
            }
        }
    }
    @media screen and (max-width: 575px) {
        h1 {
            font-size: 36px;
        }
        &_pagination {
            bottom: 10px;
        }
        &_text {
            width: 100%;
            padding: 0 20px;
            top: inherit;
            bottom: 20%;
            left: 0;
            transform: none;
            p {
                font-size: 18px;
            }
        }
        &_item {
            padding-bottom: 120%;
        }
        &_title {
            padding-left: 20px;
            padding-right: 20px;
            span {
                font-size: 14px;
            }
        }
    }
}

.mainContent {
    padding: 0 55px 150px;
    @media screen and (max-width: 1300px) {
        padding-left: 20px;
        padding-right: 20px;
    }
    @media screen and (max-width: 991px) {
        padding-bottom: 80px;
    }
}

.title {
    width: fit-content;
    margin: 0 auto;
    padding: 16px 0 26px;
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-shadow: 0 4px 4px rgba(0,0,0,0.25);
    margin-bottom: 20px;
    &::before, &::after {
        position: absolute;
        content: "";
        width: 35px;
        height: 77px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        top: 0;
    }
    &::before {
        background-image: url(../img/title-left.svg);
        left: -44px;
    }
    &::after {
        background-image: url(../img/title-right.svg);
        right: -44px;
    }
}

.sidebar {
    width: 300px;
    &_news {
        border-radius: 30px;
        background: $gradient-1;
        padding: 2px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.2);
        margin-bottom: 30px;
        &_inner {
            background-color: $brown-bg;
            border-radius: 28px;
            padding: 30px 20px;
        }
        &_main {
            padding-top: 10px;
            border-top: 1px solid #574312;
            padding-bottom: 20px;
        }
        &_item {
            display: flex;
            align-items: center;
            padding: 20px 0;
            transition: $transition;
            &:hover {
                opacity: 0.7;
            }
        }
        &_title {
            width: calc(100% - 50px);
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
            padding-right: 15px;
        }
        &_date {
            font-size: 14px;
            color: rgba(255,255,255,0.7);
            width: 50px;
        }
        &_more {
            width: 100%;
            padding: 10px;
            border-radius: 15px;
            background: $gradient-btn;
            color: #fff;
            font-size: 18px;
            font-weight: 700;
            text-shadow: 0 2px 6px rgba(0,0,0,0.25);
            letter-spacing: 0.05em;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: $transition;
            &:hover {
                padding: 15px;
            }
        }
    }
    @media screen and (max-width: 1300px) {
        width: 250px;
    }
    @media screen and (max-width: 991px) {
        width: 100%;
        order: 2;
    }
}

.mainbar {
    width: calc(100% - 300px);
    padding-left: 40px;
    @media screen and (max-width: 1300px) {
        width: calc(100% - 250px);
        padding-left: 20px;
    }
    @media screen and (max-width: 991px) {
        width: 100%;
        order: 1;
        padding-left: 0;
        margin-bottom: 40px;
    }
}

.analyze {
    border-radius: 0 0 30px 30px;
    padding: 2px;
    background: $gradient-1;
    &-tab {
        border: 0;
        flex-wrap: nowrap;
        overflow-x: auto;
        .nav-link {
            padding: 10px 15px;
            display: flex;
            align-items: center;
            background-color: #392300;
            border: 0;
            border-radius: 0;
            margin: 0;
            span {
                color: #fff;
                font-weight: 700;
                margin-left: 5px;
                transition: $transition;
                white-space: nowrap;
            }
            &.active {
                background: $gradient-3;
                .analyze_icon {
                    >img {
                        &.normal {
                            opacity: 0;
                        }
                        &.active {
                            opacity: 1;
                        }
                    }
                }
                span {
                    color: #392300;
                }
            }
        }
        .nav-item {
            position: relative;
            &:first-child {
                .nav-link {
                    border-radius: 20px 0 0 0;
                }
                &::before {
                    display: none;
                }
            }
            &:last-child {
                .nav-link {
                    border-radius: 0 20px 0 0;
                }
            }
            &::before {
                position: absolute;
                content: "";
                width: 1px;
                height: 20px;
                background-color: #9D7C2C;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }
    }
    &_icon {
        width: 24px;
        height: 24px;
        position: relative;
        >img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: contain;
            top: 0;
            left: 0;
            transition: $transition;
            &.active {
                opacity: 0;
            }
        }
    }
    &_inner {
        background-color: $brown-bg;
        border-radius: 0 0 28px 28px;
        padding: 20px 20px 60px;
        // overflow-x: auto;
    }
    &_tabContent {
        overflow-x: auto;
    }
    &_table {
        width: 100%;
        min-width: 700px;
        th {
            padding: 15px 5px;
            font-size: 14px;
            font-weight: 700;
            background: $gradient-3;
            background-clip: text;
            color: transparent;
            border-bottom: 1px solid #574312;
            text-align: center;
        }
        td {
            color: rgba(255,255,255,0.8);
            text-align: center;
            padding: 15px 5px;
            font-size: 14px;
        }
        &_btn {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            background: $gradient-btn;
            color: #fff;
            font-size: 14px;
            font-weight: 700;
            text-shadow: 0 2px 4px rgba(0,0,0,0.25);
            padding: 10px;
            transition: $transition;
            &:hover {
                transform: scale(1.1);
            }
        }
        &_result {
            width: 37px;
        }
    }
    &_hint {
        text-align: center;
        font-size: 14px;
        color: #fff;
    }
    @media screen and (max-width: 991px) {
        &_inner {
            padding: 20px 15px 60px;
        }
    }
}

.footer {
    padding: 30px 0;
    background-color: rgba(255,255,255,0.1);
    &_info {
        &_title {
            margin-bottom: 15px;
            width: 132px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url(../img/contact-border.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
        h3 {
            font-size: 20px;
            font-weight: 700;
            background: $gradient-3;
            background-clip: text;
            color: transparent;
            margin: 0;
        }
        &_pic {
            width: 100px;
        }
    }
    &_text {
        font-size: 14px;
        margin: 0;
        color: rgba(255,255,255,0.8);
        text-align: right;
        padding-left: 40px;
    }
    @media screen and (max-width: 991px) {
        &_info {
            margin-bottom: 30px;
        }
        &_text {
            text-align: left;
            padding-left: 0;
            font-size: 12px;
        }
    }
}

.buy {
    &_sport {
        margin-bottom: 45px;
    }
    &_title {
        img {
            width: 40px;
        }
    }
    &_list {
        >.row {
            margin-left: -15px;
            margin-right: -15px;
            >div {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
    &_sport {
        margin-bottom: 45px;
    }
    &_item {
        border-radius: 15px;
        padding: 1px;
        background: $gradient-3;
        &_inner {
            background-color: $brown-bg;
            border-radius: 14px;
            padding: 20px;
            text-align: center;
        }
    }
    &_name {
        font-size: 20px;
        font-weight: normal;
        padding-bottom: 15px;
        border-bottom: 1px solid #574312;
        color: #fff;
    }
    &_price {
        font-family: $font-karla;
        font-style: italic;
        font-weight: 900;
        font-size: 36px;
        background: $gradient-3;
        background-clip: text;
        color: transparent;
        margin-bottom: 35px;
    }
    &_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 15px;
        background: $gradient-btn;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        text-shadow: 0 2px 6px rgba(0,0,0,0.25);
        transition: $transition;
        &:hover {
            transform: scale(1.05);
        }
    }
    @media screen and (max-width: 767px) {
        &_item {
            margin-bottom: 30px;
        }
    }
}

.page-title {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    margin-bottom: 30px;
    h2 {
        margin: 0;
        font-size: 24px;
        font-weight: 700;
        margin-left: 10px;
        color: #fff;
    }
}

.flow {
    &_store {
        margin-bottom: 60px;
    }
    &_title {
        img {
            height: 40px;
        }
    }
    @media screen and (max-width: 575px) {
        &_title {
            display: block;
            img {
                height: 30px;
            }
            h2 {
                margin-left: 0;
                margin-top: 10px;
            }
        }
    }
}

.contact {
    &_title {
        width: 200px;
        height: 75px;
        background-image: url(../img/contact-border.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0 auto 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        h2 {
            margin: 0;
            background: $gradient-3;
            background-clip: text;
            color: transparent;
            font-size: 30px;
            font-weight: 700;
        }
    }
    &_qrcode {
        display: flex;
        justify-content: center;
        gap: 80px;
        &_item {
            >img {
                width: 190px;
                display: block;
                margin: 0 auto 20px;
            }
            >h3 {
                text-align: center;
                color: #fff;
                font-family: $font-karla;
                font-size: 28px;
                font-weight: 700;
                margin: 0;
            }
        }
    }
    @media screen and (max-width: 575px) {
        &_qrcode {
            display: block;
            &_item {
                margin-bottom: 60px;
                >img {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.news {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    &_detail {
        border-radius: 30px;
        padding: 2px;
        background: $gradient-1;
        position: relative;
        &_inner {
            background-color: $brown-bg;
            border-radius: 28px;
            padding: 40px;
        }
        h1 {
            font-size: 24px;
            font-weight: 700;
            margin: 0;
            background: $gradient-3;
            background-clip: text;
            color: transparent;
            padding-bottom: 30px;
            border-bottom: 1px solid #574312;
            line-height: 1.7;
            text-align: justify;
        }
        &_link {
            padding-top: 30px;
            .row {
                margin-left: -10px;
                margin-right: -10px;
                >div {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
            a {
                display: flex;
                align-items: center;
                margin-bottom: 18px;
                border-radius: 10px;
                border: 1px solid rgba(255,255,255,0.38);
                padding: 16px;
                transition: $transition;
                span {
                    color: #fff;
                    width: calc(100% - 24px);
                    display: block;
                    padding-right: 15px;
                    transition: $transition;
                    font-size: 18px;
                }
                svg {
                    width: 24px;
                    height: 24px;
                    path {
                        transition: $transition;                    
                    }
                }
                &:hover {
                    border-color: #F2C459;
                    span {
                        color: #F2C459;
                    }
                    svg {
                        path {
                            stroke: #F2C459;
                        }
                    }
                }
            }
        }
        &_back {
            position: absolute;
            width: 50px;
            height: 50px;
            background: $gradient-1;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 4px 15px rgba(0,0,0,0.25);
            top: 0;
            left: -85px;
            transition: $transition;
            img {
                width: 35px;
            }
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    .sidebar_news_inner {
        padding-bottom: 60px;
    }
    @media screen and (max-width: 575px) {
        &_detail {
            h1 {
                font-size: 20px;
            }
            &_inner {
                padding-left: 15px;
                padding-right: 15px;
            }  
            &_back {
                position: static;
                margin-bottom: 30px;
                width: 40px;
                height: 40px;
                >img {
                    width: 60%;
                }
            }          
        }
    }
}

.record {
    max-width: 900px;
    width: 100%;
    // width: calc(100% - 40px);
    margin: 0 auto;
    border-radius: 30px;
    background: $gradient-1;
    padding: 2px;
    &_inner {
        border-radius: 28px;
        background-color: $brown-bg;
        padding: 30px;
    }
    &_main {
        padding-top: 20px;
        border-top: 1px solid #574312;
    }
    &_greet {
        font-size: 18px;
        color: #fff;
        margin-bottom: 20px;
        font-weight: 500;
    }
    .row {
        margin-left: -15px;
        margin-right: -15px;
        >div {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    &_item {
        border-radius: 15px;
        background: $gradient-3;
        padding: 1px;
        margin-bottom: 30px;
        &_inner {
            border-radius: 14px;
            background-color: $brown-bg;
            padding: 20px 20px 25px;
        }
    }
    &_name {
        text-align: center;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 15px;
        border-bottom: 1px solid #574312;
    }
    &_remain {
        padding-top: 5px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        span {
            color: #fff;
            line-height: 1;
        }
        &_num {
            font-family: $font-karla;
            margin: 0 15px;
            background: $gradient-3;
            background-clip: text;
            color: transparent !important;
            font-style: italic;
            font-weight: 900;
            font-size: 42px;
            transform: translateY(7px);
        }
    }
    &_btn {
        width: 260px;
        height: 55px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $gradient-btn;
        color: #fff;
        box-shadow: 0 4px 15px rgba(0,0,0,0.2);
        text-shadow: 0 2px 6px rgba(0,0,0,0.25);
        font-size: 18px;
        font-weight: 700;
        margin: 20px auto 0;
        transition: $transition;
        &:hover {
            width: 300px;
        }
    }
    @media screen and (max-width: 575px) {
        &_inner {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

.modal-member {
    .modal {
        &-dialog {
            margin-top: 100px;
        }
        &-content {
            border-radius: 30px;
            background: $gradient-1;
            border: 0;
            padding: 2px;
            &_inner {
                background-color: $brown-bg;
                border-radius: 28px;
                padding: 20px;
            }
        }
    }
    &_title {
        text-align: center;
        background: $gradient-3;
        background-clip: text;
        color: transparent;
        font-size: 22px;
        margin-bottom: 20px;
        padding-bottom: 15px;
        border-bottom: 1px solid #574312;
        font-weight: 700;
    }
    &_input {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        label {
            color: #fff;
            display: block;
            width: 40px;
            text-align: center;
        }
        input, select {
            width: calc(100% - 40px - 15px);
            height: 50px;
            border: 1px solid rgba(255,255,255,0.6);
            // border-color: #F2C459;
            border-radius: 15px;
            padding: 0 10px;
            color: #fff;
            &::placeholder {
                color: rgba(255,255,255,0.3);
            }
        }
        select {
            appearance: none;
            background-image: url(../img/chevron-down.svg);
            background-size: 20px;
            background-position: calc(100% - 10px) center;
            background-repeat: no-repeat;
        }
        &.lg {
            label {
                width: 80px;
            }
            input, select {
                width: calc(100% - 80px - 15px);
            }
        }
    }
    &_btn {
        width: 200px;
        height: 48px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $gradient-btn;
        color: #fff;
        box-shadow: 0 4px 15px rgba(0,0,0,0.2);
        text-shadow: 0 2px 6px rgba(0,0,0,0.25);
        // font-size: 18px;
        font-weight: 700;
        margin: 20px auto 0;
        transition: $transition;
        &:hover {
            width: 250px;
        }
    }
    @media screen and (max-width: 575px) {
        .modal {
            &-body {
                padding: 0;
            }
        }
    }
}

.pagination {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 40px auto 0;
    gap: 15px;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        font-family: $font-karla;
        border: 1px solid rgba(255,255,255,0.8);
        color: rgba(255,255,255,0.8);
        border-radius: 50%;
        transition: $transition;
        &.active, &:hover {
            background-color: #fff;
            border-color: #fff;
            box-shadow: 0 4px 10px rgba(0,0,0,0.25);
            span {
                background: $gradient-btn;
                background-clip: text;
                color: transparent;
                font-style: italic;
                font-weight: 900;
            }
        }
    }
    &_arrow {
        border: 0 !important;
        svg {
            width: 20px;
            height: 20px;
            path {
                stroke: #fff;
                transition: $transition;
            }
        }
        &:hover {
            svg {
                path {
                    stroke: $brown-bg;
                }
            }
        }
    }
    @media screen and (max-width: 575px) {
        gap: 10px;
    }
}